.jfx-list-cell:selected {
    -fx-background-color: #ffb300;
}

.jfx-list-cell:hover {
    -fx-background-color: #FF6800;
}

.jfx-list-cell {
    -fx-pref-height: 50;
    -fx-background-color: transparent;
}

.jfx-list-view {
    -fx-background-color: transparent;
}

.label-style-jfx {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}