.btnSair {
    -fx-background-color: #FF6800;
    -fx-text-fill: #fff;
    -fx-background-radius: 0 10 0 10;
}

.btnSair:hover {
    -fx-background-color: #F83600;
    -fx-background-radius: 0 10 0 10;
}

.btnFecharPedido {
    -fx-text-fill: #fff;
    -fx-background-color: #56CAA4;
    -fx-background-radius: 20 20 20 20;
}

.btnFecharPedido:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-text-fill: #56CAA4;
    -fx-border-color: #56CAA4;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 20px;
}

.btnAdicionar {
    -fx-text-fill: #fff;
    -fx-background-color: #FF6800;
    -fx-background-radius: 20 20 20 20;
}

.btnAdicionar:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-text-fill: #FF6800;
    -fx-border-color: #FF6800;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 20px;
}